{% extends 'frame.html' %}
{% load static %}

{% block header %}

    <ul class="header-menu nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="change-layout" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Change Layout</a>
            <div class="dropdown-menu" aria-labelledby="change-layout">
                <a id="orientation" class="button-link dropdown-item" data-orientation="v">Vertical Layout</a>
                <a id="legend" class="button-link dropdown-item">Show Legend</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="components" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">View Components</a>
            <div class="dropdown-menu" aria-labelledby="components">
                <a id="data-wizard" class="button-link dropdown-item" data-orientation="v">Data Exporter</a>
            </div>
        </li>
    </ul>
{% endblock %}

{% block sidebar %}
    <ul class="vertical-nav-menu">
        <li>
            <a href="/plot/plots.html?id={{ worker.id }}">
                <i class="metismenu-icon fas fa-clipboard"></i>
                All Plots
            </a>
        </li>
        <li class="app-sidebar__heading">Styling</li>
        <li>
            <a href="#" aria-expanded="false">
                <i class="metismenu-icon fas fa-pen"></i>
                Color Templates
                <i class="metismenu-state-icon pe-7s-angle-down"></i>
            </a>
            <ul class="mm-collapse">
                <li>
                    <a class="button-link template-choice active-sidebar" data-template="plotly">
                        Plotly
                    </a>
                </li>
                <li>
                    <a class="button-link template-choice" data-template="plotly_white">
                        Bright
                    </a>
                </li>
                <li>
                    <a class="button-link template-choice" data-template="plotly_dark">
                        Dark
                    </a>
                </li>
                <li>
                    <a class="button-link template-choice" data-template="ggplot2">
                        ggplot2
                    </a>
                </li>
                <li>
                    <a class="button-link template-choice" data-template="seaborn">
                        Seaborn
                    </a>
                </li>
                <li>
                    <a class="button-link template-choice" data-template="simple_white">
                        Simple White
                    </a>
                </li>
                <li>
                    <a class="button-link template-choice" data-template="presentation">
                        Prensentation
                    </a>
                </li>
                <li>
                    <a class="button-link template-choice" data-template="none">
                        Simple
                    </a>
                </li>
            </ul>
        </li>
        <li class="app-sidebar__heading">Download Plot</li>
        <li>
            <a href="#" aria-expanded="false">
                <i class="metismenu-icon fas fa-expand-arrows-alt"></i>
                Output Ratio
                <i class="metismenu-state-icon pe-7s-angle-down"></i>
            </a>
            <ul class="mm-collapse">
                <li>
                    <a class="button-link ratio-choice active-sidebar" data-ratio="4,3">
                        Horizontal (4:3)
                    </a>
                </li>
                <li>
                    <a class="button-link ratio-choice" data-ratio="3,4">
                        Vertical (3:4)
                    </a>
                </li>
                <li>
                    <a class="button-link ratio-choice" data-ratio="1,1">
                        Square (1:1)
                    </a>
                </li>
                <li>
                    <a class="button-link ratio-choice" data-ratio="16,9">
                        Long Horizontal (16:9)
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" aria-expanded="false">
                <i class="metismenu-icon fas fa-expand"></i>
                Image Size
                <i class="metismenu-state-icon pe-7s-angle-down"></i>
            </a>
            <ul class="mm-collapse">
                <li>
                    <a class="button-link size-choice active-sidebar" data-size="1080">
                        Default (1080px)
                    </a>
                </li>
                <li>
                    <a class="button-link size-choice" data-size="1920">
                        Large (1920px)
                    </a>
                </li>
                <li>
                    <a class="button-link size-choice" data-ratio="720">
                        Small (720px)
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a class="button-link" id="download-image">
                <i class="metismenu-icon fas fa-download"></i>
                Download
            </a>
        </li>


    </ul>
{% endblock %}

{% block content %}
    <div class="app-main__outer">
        <div class="app-main__inner" style="padding-top: 0">
            <div class="row my-3" id="data-wizard-card" hidden>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="widget-content">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-right ml-0 mr-3">
                                                <div class="widget-numbers text-success" id="selected-length">0</div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Number of Observations Selected<br>
                                                    <button class="mt-2 mr-2 btn btn-success" id="select-confirm">
                                                        Confirm
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span id="output" data-id="{{ worker.id }}" data-link={{ link }} hidden>{{ output }}</span>
            <div id="plotly" style="height: 100vh; margin: 0 -30px 0 -30px;"></div>

        </div>

    </div>
{% endblock %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block js %}
    <script type="text/javascript" src={% static "scripts/plot/plotly-options.js" %}></script>
    <script type="text/javascript" src={% static "scripts/plot/plotly-plot.js" %}></script>
{% endblock %}