{% extends 'nav.html' %}

{% block content %}
<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
            <i class="fas fa-history">
            </i>
          </div>
          <div>Process History
            <div class="page-title-subheading">
              View the current processes, retrieve reports, and download scripts
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}
